@define-color text_color #262626;
@define-color text_color_white #d9d9d9;

* { font-family: DejaVu Sans; }

window {
  background-image: url("/home/stefan/.local/share/current-wallpaper-lockscreen");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @text_color
}

#clock-label, #date-label, #input-field {
  font-weight: 300;
  font-size: 72px;
  color: @text_color_white;

  padding: 0.25em;

  background: linear-gradient(to bottom,
    rgba(217,217,217,0.9) 0%,
    rgba(51, 51, 51, 0.9) 55%,
    rgba(38, 38, 38, 0.9) 55%,
    rgba(102, 102, 102, 0.9) 100%
  );

  padding: 10px;
  margin: 8px;

  /* Important style feature in order to give a glassy look! */
  /* I'm using the top and bottom borders to mimic highlights in highly reflective surfaces, looks good with the glassy-look */
  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: rgba(255,255,255,0.75);
  border-bottom-color: rgba(255,255,255,0.25);
  border-width: 1px;
  border-radius: 8px;
}

#clock-label {
  font-size: 72px;
  margin-bottom: 10px;
}

#date-label {
  font-size: 48px;
  margin-bottom: 150px;
}

#input-label, #error-label {
  font-size: 0px;
}

#input-field {
  font-size: 16px;
  background: linear-gradient(to bottom,
      #66cccc 0%,
      #339999 55%,
      #2d8686 55%,
      #1cb06d 100%
  );
  border-radius: 8px;
  color: @text_color;
}
