@define-color text_color #282828;

* {
  color: @text_color;
  font-weight: 500;
}

.summary {
  font-size: 20px;
}

.body {
  font-size: 16px;
}

.image {
    border-radius: 0px;
    margin-right: 15px;
}

.notification, .close-button {
   background: linear-gradient(to bottom, 
      #66cccc 0%, 
      #339999 55%,
      #2d8686 55%,
      #1cb06d 100%
  );
  
  /* Important style feature in order to give a glassy look! */
  /* I'm using the top and bottom borders to mimic highlights in highly reflective surfaces, looks good with the glassy-look */
  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: rgba(255,255,255,0.75);
  border-bottom-color: rgba(255,255,255,0.25);
  border-width: 1px;
}

.notification-default-action:hover, .close-button:hover {
    background: none;
}
