.notification {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.25)0%, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.6)50%);
  color: rgb(220,220,220);

  border-radius: 12px;
  border-width: 1px;
  border-bottom-width: 1px;

  padding: 0px;

  /* Important style feature in order to give a glassy look! */
  /* I'm using the top and bottom borders to mimic highlights in highly reflective surfaces, looks good with the glassy-look */
  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-bottom-color: rgba(255,255,255,0.15);
  border-top-color: rgba(255,255,255,0.45);
  border-width: 1px;
}

.notification-default-action:hover {
  background-image: linear-gradient(to bottom, rgba(0,255,255,0.25), rgba(0,0,0,0.5), rgba(0,255,255,0.5));
  border-radius: 12px;
  transition: background 0.15s ease-in-out;
}

.image {
  border-radius: 0px;
}
