@define-color text_color #262626;
@define-color text_color_white #d9d9d9;

* {
  font-family: DejaVu Sans;
  color: @text_color_white;
}

#input, #entry, #window {
  background: linear-gradient(to bottom, 
    rgba(217,217,217,0.3) 0%, 
    rgba(51, 51, 51, 0.3) 55%,
    rgba(38, 38, 38, 0.3) 55%,
    rgba(102, 102, 102, 0.3) 100%
  );

  padding: 10px;
  margin: 8px;

  /* Important style feature in order to give a glassy look! */
  /* I'm using the top and bottom borders to mimic highlights in highly reflective surfaces, looks good with the glassy-look */
  border-style: none;
  border-bottom-style: solid;
  border-top-style: solid;
  border-top-color: rgba(255,255,255,0.75);
  border-bottom-color: rgba(255,255,255,0.25);
  border-width: 1px;
  border-radius: 8px;

}

#window {
  background: rgba(20,20,20,0.5);
  border-radius: 12px;
  padding: 12px;
}

#entry {
  padding: 4px;
  margin: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

#entry:selected {
  background: linear-gradient(to bottom, 
      #66cccc 0%, 
      #339999 55%,
      #2d8686 55%,
      #1cb06d 100%
  );
  outline: none;
}

#text { color: @text_color_white; }
#text:selected { color: @text_color; }
#img { margin-right: 15px; }
