background: url("/home/stefan/.local/share/images/aero_glass.png"), rgba(20, 20, 20, 0.66),  linear-gradient(to bottom,
  rgba(90, 90, 90, 0.66) 0%,
  rgba(50, 50, 50, 0.66) 55%,
  rgba(20, 20, 20, 0.66) 55%,
  rgba(60, 60, 60, 0.66) 100%
);
