/* scheme: "Gruvbox dark, medium" */
/* author: "Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)" */
@define-color base00 #282828; /* ---- */
@define-color base00_alpha rgba(40, 40, 40, 0.95); /* ---- */
@define-color base01 #3c3836; /* --- */
@define-color base02 #504945; /* -- */
@define-color base03 #665c54; /* - */
@define-color base04 #bdae93; /* + */
@define-color base04_alpha rgba(189, 174, 147, 0.95);
@define-color base05 #d5c4a1; /* ++ */
@define-color base06 #ebdbb2; /* +++ */
@define-color base07 #fbf1c7; /* ++++ */
@define-color base07_alpha rgba(251, 241, 199, 0.95);
@define-color base08 #fb4934; /* red */
@define-color base09 #fe8019; /* orange */
@define-color base0A #fabd2f; /* yellow */
@define-color base0B #b8bb26; /* green */
@define-color base0C #8ec07c; /* aqua/cyan */
@define-color base0D #83a598; /* blue */
@define-color base0E #d3869b; /* purple */
@define-color base0F #d65d0e; /* brown */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FiraCode Nerd Font;
    font-weight: 500;
    font-size: 11px;
}

/* Waybar */
window#waybar {
    background-color: transparent;
}

/* Window Title */
#window {
    margin: 0.5em;
    padding: 0.5em;
    color: @base07;
}

window#waybar.empty .modules-center {
    background-color: transparent;
    border-width: 0;
}

.modules-center {
    margin: 0.25em;
    border-radius: 0.5em;
    background-color: @base00_alpha;
}

window#waybar.empty .modules-center {
    background-color: transparent;
    border-width: 0;
}

#workspaces button {
    margin: 0.25em 0.5em;
    padding: 0.25em 0.5em;
    color: @base07;
    background-color: @base00_alpha;
    border-radius: 0.5em;
    box-shadow: 2px 2px @base07_alpha;
}

#workspaces#vert button {
    margin: 0.5em 0.25em;
    padding: 0.5em 0.25em;
}

#workspaces button:hover {
    background-color: @base03;
    color: @base06;
}

#workspaces button.active {
    color: @base00;
    background-color: @base07_alpha;
    box-shadow: 2px 2px @base00_alpha;
}

#workspaces button.urgent {
    background-color: @base09;
    color: @base00;
}

/* If workspaces is the leftmost module, omit top margin */
.modules-left > widget:first-child > #workspaces {
    margin-top: 0.25em;
}

tooltip {
    color: @base07;
    background-color: @base00;
    box-shadow: 2px 2px;
}

#battery, #battery.plugged {
    color: @base0D;
}

#battery.charging, #battery.plugged {
    color: @base0B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: @base08;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock.date,
#clock,
#network,
#wireplumber,
#custom-battery,
#tray {
    margin: 0.25em 0.5em;
    padding: 0.25em 0.5em;
    background-color: @base04_alpha;
    color: @base00;
    border-radius: 0.5em;
    box-shadow: 2px 2px @base00_alpha;
}

#tray {
    background-color: @base00_alpha;
    box-shadow: 2px 2px @base07_alpha;
    padding: 0.5em;
}

#wireplumber.muted,
#network.disconnected {
    background-color: @base03;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @base08;
}
